<div class="contactus">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <div class="title">
                <h2>Add Category Here</h2>

             </div>
          </div>
       </div>
    </div>
 </div>
 



 <!-- map -->
 <div class="contact">
    <div class="container-fluid padddd">
    <form >
       <div class="row">
          <div class="col-md-3"></div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
             <form class="main_form" #addcategory="ngForm" (ngSubmit)="onClickSubmit(addcategory.value)">
                <div class="row">
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="name">Category name:</label>
                      <input class="form-control" placeholder="Name" type="text" name="cname" ngModel/>
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <button type="submit" class="send">Save Category</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </form>
    
    </div>
 </div>
 <h1>View and Manage Category List</h1>
 <table class='table' #loadcategory>
   <tr>
       <th>S. No.</th>
      <th>Category Title</th>
   </tr> 

   <tr *ngFor="let obj of catelist">
      <td>{{obj._id}}</td>
      <td>{{obj.cname}}</td>
      <td></td>
   </tr>
</table>
