<!--  footer -->
<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="border1">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12"></div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <ul class="lik">
                           <li> <a routerLink="/">Home</a></li>
                           <li> <a routerLink="about">About</a></li>
                           <li> <a routerLink="contact">Contact us</a></li>
                           <li> <a routerLink="register">Register</a></li>
                           <li> <a routerLink="login">Login</a></li>
                        </ul>
                     </div>
                   
                        <ul class="sociel">
                            <li> <a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram"></i></a></li>
                            <li> <a href="https://www.linkedin.com/signup"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="new">
                        <h3>Newsletter</h3>
                        <form class="newtetter">
                            <input class="tetter" placeholder="Your email" type="text" name="Your email">
                            <button class="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="newtt">
                        <p>It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout. The point
                            <br> of using Lorem I
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="copyright">
            <p>Copyright 2021</p>
        </div>

    </div>

</footer>
<!-- end footer -->
