<div class="contactus">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <div class="title">
                <h2>Manage Products</h2>

             </div>
          </div>
       </div>
    </div>
 </div>
 



 <!-- map -->
 <div class="contact">
    <div class="container-fluid padddd">
    <form >
       <div class="row">
          <div class="col-md-3"></div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
             <form class="main_form" #addproduct="ngForm" (ngSubmit)="onClickSubmit(addproduct.value)">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                     <label for="category">Category:</label>
                         <select class="form-control" id="category" name="cname" ngModel>
                             <option>Select Category</option>
                             <option *ngFor="let obj of catelist">{{obj.cname}}</option>      
                         </select>    
                </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="name">Product Name:</label>
                      <input class="form-control" placeholder="Name" type="text" name="pname" ngModel/>
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                     <label for="name">Product Description:</label>
                       <input class="form-control" placeholder="Name" type="text" name="pdescription" ngModel/>
                    </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="phone">Product Price :</label>
                      <input class="form-control" placeholder="Price" id="price" type="number" name="price"  ngModel/>
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <button type="submit" class="send">Add Product</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </form>
    </div>
 </div>
 <h1>Product List</h1>
 <table class='table' #loadproduct>
   <tr>
       <th>S. No.</th>
       <th>Category</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Product Image</th>
      <th>Upload Image</th>
   </tr> 

   <tr *ngFor="let obj of prodlist">
      <td>{{obj._id}}</td>
      <td>{{obj.cname}}</td>
      <td>{{obj.pname}}</td>
      <td>{{obj.price}}</td>
      <td><img src="assets/product/{{obj.prodimg}}" height="120" width="140"></td>
   <td><input type="file" (change)="handleChangePic($event)" class='form-control'>
   <br>
   <button class='btn btn-primary' (click)="upload(obj._id)">Upload</button>                                
   </td>
</tr>                       
</table>