<div class="about">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
             <div class="aboutimg">
                <h1>Welcome To Ecommerce Furniture >> Admin Panel</h1>
                  <h2>Welcome Admin</h2>  
             </div>
          </div>
       </div>
    </div>
 </div>
