 <!-- map -->
 <div class="contact">
    <div class="container-fluid padddd">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>Contact <strong class="black">Us</strong></h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">

            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
                <form class="main_form" #contact="ngForm" (ngSubmit)="onClickSubmit(contact.value)">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Name" type="text" name="Name" ngModel>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Email" type="text" name="username" ngModel>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Phone" type="number" name="Phone" ngModel>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <textarea class="textarea" placeholder="Message" type="text"
                                name="Message" ngModel></textarea>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <button class="send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end map -->
