<div class="nav-bar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div *ngIf="!checkToken()" class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="" class="nav-item nav-link active">Home</a>
                    <a routerLink="about" class="nav-item nav-link">About</a>
                    <a routerLink="contact" class="nav-item nav-link">Contact</a>
                    <a routerLink="register" class="nav-item nav-link">Register</a>
                    <a routerLink="login" class="nav-item nav-link">Login</a>
   
                </div>>
            </div>
          
          
            <div *ngIf="checkTokenAdmin()" class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="adminhome" class="nav-item nav-link active">Admin Home</a>
                    <a routerLink="admincategory" class="nav-item nav-link">Manage Categories</a>
                    <a routerLink="manageproducts" class="nav-item nav-link">Manage Products</a>
                    <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Settings</a>
                          <div class="dropdown-menu">
                              <a routerLink="cpadmin" class="dropdown-item">Change Password</a>
                              <a routerLink="epadmin" class="dropdown-item">Edit Profile</a>
                          </div>
                    </div>
                    <a (click)="logout()" class="nav-item nav-link">Logout</a>
                </div>
                <font color="white">Welcome Admin : {{username}}</font>
            </div>



            <div *ngIf="checkTokenUser()" class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="userhome" class="nav-item nav-link active">User Home</a>
                    <a routerLink="product" class="nav-item nav-link active">Products</a>
                    <a routerLink="cart" class="nav-item nav-link active">UserCart</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Settings</a>
                        <div class="dropdown-menu">
                            <a routerLink="cpuser" class="dropdown-item">Change Password</a>
                            <a routerLink="epuser" class="dropdown-item">Edit Profile</a>
                        </div>
                  </div>
                    <a (click)="logout()" class="nav-item nav-link">Logout</a>
                </div>

                <font color="white">Welcome User : {{username}}</font>
            </div>


        </nav>
    </div>
</div>