
       <!-- header -->
       <header>
        <!-- header inner -->
        <div class="header">

            <div class="container-fluid">


                <div class="row">
                    <div class="col-lg-3 logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="">HAPPY HEARTH</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end header inner -->
    </header>
    <!-- end header -->

