<div class="about">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
             <div class="aboutimg">
                <h1>View and Manage Users</h1>
             </div>    
          </div>
          <table class="table table-bordered" >
              <tr>
                <th>RegID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Address</th>
                <th>City</th>
                <th>Gender</th>
                <th>Info</th>
                <th>Status</th>
                <th>Action</th>    
                </tr>    
                <tr *ngFor="let row of userDetails">
                <td>{{row._id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.username}}</td>
                <td>{{row.address}}</td>
                <td>{{row.city}}</td>
                <td>{{row.gender}}</td>
                <td>{{row.info}}</td>
                <td>
                <a *ngIf="row.status" (click)="manageuserstatus(row._id,'block')" title="Block User"><img src="../../assets/images/block.jpg" height="70" width="50" /></a>
                <a *ngIf="!row.status" (click)="manageuserstatus(row._id,'verify')" title="Verify User"><img src="../../assets/images/unblock.jpg" height="70" width="50" /></a>    
                </td>
                <td><a (click)="manageuserstatus(row._id,'delete')" title="Delete User"><img src="../../assets/images/delete.png" height="70" width="50" /></a></td>
              </tr>
                
          </table>
            
    
       </div>
    </div>
 </div>

