<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Product</th>
            <th>Product Title</th>
            <th>Product Price</th>
            
        </tr>
        <tr *ngFor="let p of buyall">
            <td ><img src="assets/product/{{p.ProductImage}}"width="50%" heigth="50%"/></td>
            <td >{{p.ProductTitle}}</td>
            <td>{{p.ProductPrice}}</td>
        </tr>
        <tr>
            <td>Total Amount :</td>
            <td>Rs.{{totalamount}}</td>
        </tr>
        
    </table>
</div>
<br>		
<P><b>The delivery take 4-7 working days to reavh your home.</b></P>
<p><b>Hope you had a wonderful time shopping</b></p>
<p><b>Go back to Home page to continue Shopping</b></p>
<button class="btn btn-danger btn-block"><a routerLink="/product">Continue Shopping</a></button>
<router-outlet></router-outlet>


