
<div class="brand_color">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Our Products</h2>
            </div>
         </div>
      </div>
   </div>

</div>
<!-- our product -->
<div class="product">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">

               <span>We package the products with best services to make you a happy customer.</span>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="product-bg">
   <div class="product-bg-white">
      <div class="container">
         <div class="row" >
                <table class="table">
                     <tr width="100%" heigth="100%">
                        <th>S. No.</th>
                        <th>Category<br>Product Name</th>
                        <th>Product</th>
                        <th>Product Description</th>
                        <th>Price</th>
                        <th>Add to cart</th>
                     </tr> 
                   <tr  *ngFor="let obj of prodDetails">
                      <td>{{obj._id}}</td>
                      <td><b>{{obj.cname}}</b><br>{{obj.pname}}</td>
                      <td><img src="assets/product/{{obj.prodimg}}" width="50%" heigth="50%"/></td>
                      <td>{{obj.pdescription}}</td>
                      <td>Rs.{{obj.price}}</td>
                      <td><button *ngIf="checkTokenUser()" type="submit" class="btn btn-default" (click)="addtocart(obj.prodimg,obj.pname,obj.price)">Add To Cart</button></td>
                   </tr>
                  </table>
         </div>
      </div>
   </div>
