<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Product</th>
            <th>Product Title</th>
            <th>Product Price</th>
            
        </tr>
        <tr *ngFor="let p of buyall">
            <td ><img src="assets/product/{{p.ProductImage}}"width="50%" heigth="50%"/></td>
            <td >{{p.ProductTitle}}</td>
            <td>{{p.ProductPrice}}</td>
        </tr>
        <tr>
            <td>Total Amount :</td>
            <td>Rs.{{totalamount}}</td>
        </tr>
        
    </table>		
    <!--<a (click)="mPayment()">Make Payment</a>-->
    <button (click)="makePaymentTest(totalamount)" class="btn btn-danger btn-block">Pay</button>
</div>
