<div class="container">
    <div class="row ">
        <div class='col-lg-4 col-md-4'>
            <h1>Options</h1>
            <a routerLink="payment"> Payment</a><br>
            <a routerLink="cod">Cash On Delivery</a><br>
            
        </div>
        <div class='col-lg-8 col-md-8'>
            <router-outlet></router-outlet>
        </div>
    </div>
        
</div>
