<!-- content Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <h2>Edit Profile Here!!!</h2>
                <font color="red"></font>
                <form #epadmin="ngForm" (ngSubmit) = "onClickSubmit(epadmin.value)" >
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="name"  class="form-control" id="name" name="name"  [(ngModel)]="name" >
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="username"  [(ngModel)]="username" readonly >
                    </div>
                    <div class="form-group">
                      <label for="address">Address:</label>
                      <textarea rows="5" class="form-control" id="address" name="address" [(ngModel)]="address" ></textarea>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label for="city">City:</label>
                            <select class="form-control" id="city" name="city" ngModel>
                                <option>Select City</option>
                                <option>Bangalore</option>
                                <option>Hyderabad</option>
                                <option>Chennai</option>        
                            </select>    
                   </div>
                      <div class="form-group">
                        <label for="gender">Gender:</label>
                        <label>Male</label><input type="radio" name="gender" [(ngModel)]="gender" value="male" />
                        &nbsp;&nbsp;
                        <label>Female</label><input type="radio" name="gender" [(ngModel)]="gender" value="female"  /> 
                      </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->