<div class="contactus">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <div class="title">
                <h2>Register Here</h2>

             </div>
          </div>
       </div>
    </div>
 </div>
 



 <!-- map -->
 <div class="contact">
    <div class="container-fluid padddd">
    <form >
       <div class="row">
          <div class="col-md-3"></div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
             <form class="main_form" #usersignup="ngForm" (ngSubmit)="onClickSubmit(usersignup.value)">
                <div class="row">
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="name">Name:</label>
                      <input class="form-control" placeholder="Name" type="text" name="name" ngModel/>
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="email">Email:</label>
                      <input class="form-control" placeholder="Email" id="email" type="text" name="username" ngModel/>
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="password">Password:</label>
                    <input class="form-control" placeholder="password" id="password" type="password" name="password" ngModel/>
                 </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="phone">Mobile Number:</label>
                      <input class="form-control" placeholder="Phone" id="phone" type="number" name="phone"  ngModel/>
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <label for="address">Address:</label>
                      <textarea rows="5" class="form-control" placeholder="Address"  name="address" id="address" ngModel></textarea>
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label for="city">City:</label>
                            <select class="form-control" id="city" name="city" ngModel>
                                <option>Select City</option>
                                <option>Bangalore</option>
                                <option>Hyderabad</option>
                                <option>Chennai</option>        
                            </select>    
                   </div>
                   <div class="form-group">
                     <label for="gender">Gender:</label>
                     <label>Male</label><input type="radio" name="gender" value="male" ngModel/>
                     &nbsp;&nbsp;
                     <label>Female</label><input type="radio" name="gender" value="female" ngModel/> 
                   </div>
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <button type="submit" class="send">Submit</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </form>
    </div>
 </div>
 <!-- end map -->

